@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
@layer utilities {
  p + p {
    margin-top: 0.5rem;
  }
}

p > code {
  --tw-text-opacity: 1;
  color: rgb(59 130 246 / var(--tw-text-opacity, 1)) /* #3b82f6 */;
}
